body {
  margin: 0;
  font-family: sans-serif;
  background: #111;
  color: #fff;
  text-align: center;
}

canvas {
  background: #5ea743;
  border: 3px solid #fff;
  margin-top: 10px;
  cursor: crosshair;
}

#inventory button, #mode-select button {
  margin: 5px;
  padding: 8px 16px;
  font-size: 16px;
}
